

#ifdef _WIN32

1 VERSIONINFO
FILEVERSION 0,0,0,1
PRODUCTVERSION 0,0,0,1
FILEOS 0x4
FILETYPE 0x1
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904b0"
		{
			VALUE "CompanyName", "BrokenThorn Entertainment, Co."
			VALUE "FileDescription", "MOS 32 bit kernel"
			VALUE "FileVersion", "0, 0, 0, 1"
			VALUE "InternalName", "MOS"
			VALUE "LegalCopyright", "Copyright © BrokenThorn Entertainment"
			VALUE "LegalTrademarks", " "
			VALUE "OriginalFilename", "KRNL32.EXE"
			VALUE "ProductName", "MOS"
			VALUE "ProductVersion", "0, 0, 0, 1"
			VALUE "Comments", "OS Development Series PE kernel"
		}
	}

	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409 0x04B0
	}
}

#endif